auto.json
{
  "name": "Generate & Auto-post AI Videos (Google Gemini)",
  "nodes": [
    {
      "parameters": {
        "content": "# ✅ STEP 1 — Generate Script & Prompt with Google Gemini",
        "height": 500,
        "width": 1200
      },
      "id": "11a7c5b6-0db7-4d99-a1a0-e34e05c23ff5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# ✅ STEP 2 — Create Video Using Veo3\n\n",
        "height": 280,
        "width": 1200,
        "color": 3
      },
      "id": "2f3aec5c-4144-4e0c-b1c8-7f96dfe14370",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"instagram_id\": \"1111\",\n  \"youtube_id\": \"1111\",\n  \"threads_id\": \"1111\",\n  \"tiktok_id\": \"1111\",\n  \"facebook_id\": \"1111\",\n  \"facebook_page_id\": \"1111\",\n  \"twitter_id\": \"1111\",\n  \"linkedin_id\": \"1111\",\n  \"pinterest_id\": \"1111\",\n  \"pinterest_board_id\": \"1111\",\n  \"bluesky_id\": \"1111\"\n}\n",
        "options": {}
      },
      "id": "45a5a9f4-fe6a-43a7-a032-c69750826209",
      "name": "Assign Social Media IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        1440
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "6d125a85-b626-4981-8cfc-bcac4ea0ca89",
      "name": "Get my video",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        560,
        1200
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MK8Kyb6VaAvbqSIP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Get my video').item.json['final_output'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "779818a1-97bd-4bf9-ba17-995c1439df6f",
      "name": "Upload Video to Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.instagram_id }}\",\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n\n",
        "options": {}
      },
      "id": "113d635c-bf8f-4ed3-801e-de78b0df9437",
      "name": "INSTAGRAM",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        1200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.youtube_id }}\",\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Get my video').item.json.Titre }}\",\n      \"privacyStatus\": \"unlisted\",\n      \"shouldNotifySubscribers\": \"false\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "02aa72ee-e5b9-44ee-9cbf-e8ddbc259570",
      "name": "YOUTUBE",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        1200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "=YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.tiktok_id }}\",\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": \"false\", \n      \"disabledDuet\": \"false\",\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": \"true\",\n      \"disabledStitch\": \"false\",\n      \"disabledComments\": \"false\",\n      \"isBrandedContent\": \"false\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "b9e82889-b753-43e7-b417-213a99763802",
      "name": "TIKTOK",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1376,
        1200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "=YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.facebook_id }}\",\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Assign Social Media IDs').item.json.facebook_page_id }}\"\n\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "edf4cd31-ae48-4996-816e-8a32ac411e75",
      "name": "FACEBOOK",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.threads_id }}\",\n    \"target\": {\n      \"targetType\": \"threads\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "edeb50af-020e-4118-af73-2a4fbb3bf6a2",
      "name": "THREADS",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.twitter_id }}\",\n    \"target\": {\n      \"targetType\": \"twitter\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "210e36e9-8db2-403c-b72a-2ec45bce2eae",
      "name": "TWETTER",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1376,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.linkedin_id }}\",\n    \"target\": {\n      \"targetType\": \"linkedin\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\n        \"{{ $json.url }}\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "ac3069e4-4fe6-4146-a0e2-973b3c374c55",
      "name": "LINKEDIN",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        1680
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.bluesky_id }}\",\n    \"target\": {\n      \"targetType\": \"bluesky\"\n      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "d9c919d8-ae9c-47cf-9b6f-8cb3e7e1f500",
      "name": "BLUESKY",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        1680
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "blotato-api-key",
              "value": "YOUR_API_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_id }}\",\n    \"target\": {\n      \"targetType\": \"pinterest\",\n      \"boardId\": \"{{ $('Assign Social Media IDs').item.json.pinterest_board_id }}\"      \n    },\n    \"content\": {\n      \"text\": \"{{ $('Get my video').item.json.DESCRIPTION }}\",\n      \"platform\": \"pinterest\",\n      \"mediaUrls\": [\n        \"https://pbs.twimg.com/media/GE8MgIiWEAAfsK3.jpg\"\n      ]\n    }\n  }\n}\n\n",
        "options": {}
      },
      "id": "a0a0a8fe-f6b0-458c-846e-409200a7b12f",
      "name": "PINTEREST",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1376,
        1680
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "Publish",
            "row_number": "={{ $('Get my video').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "PROMPT",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "PROMPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIPTION",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DESCRIPTION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Titre",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Titre",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "38c75425-36a5-45c7-98cb-ed5eb20af249",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        1680
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MK8Kyb6VaAvbqSIP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# ✅ STEP 3 — Publish Video to Social Media\n",
        "height": 760,
        "width": 1200,
        "color": 4
      },
      "id": "94db7d6e-ce83-4c9a-916c-c35c802f8d4d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "3ac616bc-67bb-494c-bd24-3753fc03e7dc",
      "name": "Trigger: Run Daily Script Generator",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        528,
        320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "columns": {
          "value": {
            "id": "==ROW()-1",
            "idea": "={{ $('Parse AI-Generated JSON').item.json.Idea }}",
            "caption": "={{ $('Parse AI-Generated JSON').item.json.Caption }}",
            "production": "={{ $('Parse AI-Generated JSON').item.json.Status }}",
            "environment_prompt": "={{ $('Parse AI-Generated JSON').item.json.Environment }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "production",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "environment_prompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "final_output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "432c7648-f9f9-4807-abf5-64d8f9a6bafb",
      "name": "Google Sheets: Save Script Idea",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1056,
        320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MK8Kyb6VaAvbqSIP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"prompt\": \"{{ $('Google Gemini: Create Veo3-Compatible Prompt').item.json.candidates[0].content.parts[0].text }}\" }\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "4f8e53f5-d0a1-46c1-a855-a7067b493d66",
      "name": "Call Veo3 API to Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        864
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "27881cbe-df1c-463d-8baa-5c482f0b1c04",
      "name": "Wait for Veo3 Processing (5 mins)",
      "type": "n8n-nodes-base.wait",
      "position": [
        768,
        864
      ],
      "webhookId": "861e2761-369b-407b-9e88-1b176e617cd8",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "671eaf67-367a-41a0-b127-b06adbd5a3c9",
      "name": "Retrieve Final Video URL from Veo3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1056,
        864
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "columns": {
          "value": {
            "idea": "={{ $('Google Sheets: Save Script Idea').first().json.idea }}",
            "production": "done",
            "final_output": "={{ $json.video.url }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "idea",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "caption",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "production",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "environment_prompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "final_output",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "final_output",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "idea"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3555e042-a420-49fe-889e-62455616ed7c",
      "name": "Google Sheets: Log Final Video Output",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1376,
        864
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MK8Kyb6VaAvbqSIP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "You are an AI designed to generate 1 immersive, realistic idea based on a user-provided topic. Your output must be formatted as a JSON object (single line) and follow all the rules below exactly.\n\nRULES:\n- Only return 1 idea at a time.\n- The user will provide a key topic (e.g. “urban farming,” “arctic survival,” “street food in Vietnam”).\n- The Idea must be under 13 words, describe an interesting and viral-worthy moment, and involve a character. It can be surreal.\n- The Caption must be short, punchy, viral-friendly, include one relevant emoji, and include exactly 12 hashtags (4 topic, 4 popular, 4 trending).\n- Set Status to \"for production\" (always).\n- The Environment must be under 20 words, match the action, and clearly describe the location, visuals, participants, and scene style (e.g. cinematic realism, handheld docu-style).\n- Only output the raw JSON object. Do not wrap it in ```json ... ``` or any other text.\n\nTOPIC: a Yeti speaking to a camera and doing a Vlog through his selfie stick\n\nOUTPUT FORMAT (single-line JSON object):\n{\"Caption\": \"Short viral title with emoji #4_topic_hashtags #4_all_time_popular_hashtags #4_trending_hashtags\",\"Idea\": \"Short idea under 13 words\",\"Environment\": \"Brief vivid setting under 20 words matching the action\",\"Status\": \"for production\"}",
        "options": {}
      },
      "id": "d50a25b3-8472-4d2c-982c-490333d4e899",
      "name": "Google Gemini: Generate Video Concept",
      "type": "n8n-nodes-base.googleGemini",
      "position": [
        688,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googleGeminiApi": {
          "id": "YOUR_GEMINI_API_CREDENTIAL_ID",
          "name": "My Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "=SYSTEM PROMPT FOR GOOGLE VEO3 PROMPT AGENT\n\nYou are an AI agent that writes hyper-realistic, cinematic video prompts for Google VEO3. Each prompt should describe a short, vivid selfie-style video clip featuring one unnamed character speaking or acting in a specific moment. The final video should look like found footage or documentary-style film — grounded, realistic, and immersive.\n\nREQUIRED STRUCTURE (FILL IN THE BRACKETS BELOW):\n\n[Scene paragraph prompt here]\n\nMain character: [description of character]\nThey say: [insert one line of dialogue, fits the scene and mood].\nThey [describe a physical action or subtle camera movement, e.g. pans the camera, shifts position, glances around].\nTime of Day: [day / night / dusk / etc.]\nLens: [describe lens]\nAudio: (implied) [ambient sounds, e.g. lion growls, wind, distant traffic, birdsong]\nBackground: [brief restatement of what is visible behind them]\n\nRULES FOR PROMPT GENERATION:\n\n- Single paragraph only, 750–1500 characters. No line breaks or headings.\n- Only one human character. Never give them a name.\n- Include one spoken line of dialogue and describe how it’s delivered.\n- Character must do something physical, even if subtle (e.g. glance, smirk, pan camera).\n- Use selfie-style framing. Always describe the lens, stock, and camera behavior.\n- Scene must feel real and cinematic — like a short clip someone might record on a stylized camera.\n- Always include the five key technical elements: Time of Day, Lens, Audio, and Background.\n\nUSER INPUT:\n\nGive me a Veo3 prompt for this idea:\n{{ $('Google Sheets: Save Script Idea').item.json.idea }}\n\nThis is the environment:\n{{ $('Google Sheets: Save Script Idea').item.json.environment_prompt }}\n",
        "options": {}
      },
      "id": "f5f242e2-5407-4bb5-8ac8-13589c313a36",
      "name": "Google Gemini: Create Veo3-Compatible Prompt",
      "type": "n8n-nodes-base.googleGemini",
      "position": [
        1216,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googleGeminiApi": {
          "id": "YOUR_GEMINI_API_CREDENTIAL_ID",
          "name": "My Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "parsedJson",
              "value": "={{ JSON.parse($('Google Gemini: Generate Video Concept').item.json.candidates[0].content.parts[0].text) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b735dd2d-986c-48c9-8356-d70377b75240",
      "name": "Parse AI-Generated JSON",
      "type": "n8n-nodes-base.set",
      "position": [
        872,
        320
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Get my video": {
      "main": [
        [
          {
            "node": "Assign Social Media IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Social Media IDs": {
      "main": [
        [
          {
            "node": "Upload Video to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Blotato": {
      "main": [
        [
          {
            "node": "INSTAGRAM",
            "type": "main",
            "index": 0
          },
          {
            "node": "YOUTUBE",
            "type": "main",
            "index": 0
          },
          {
            "node": "TIKTOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "FACEBOOK",
            "type": "main",
            "index": 0
          },
          {
            "node": "THREADS",
            "type": "main",
            "index": 0
          },
          {
            "node": "TWETTER",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINKEDIN",
            "type": "main",
            "index": 0
          },
          {
            "node": "BLUESKY",
            "type": "main",
            "index": 0
          },
          {
            "node": "PINTEREST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Veo3 API to Generate Video": {
      "main": [
        [
          {
            "node": "Wait for Veo3 Processing (5 mins)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Save Script Idea": {
      "main": [
        [
          {
            "node": "Google Gemini: Create Veo3-Compatible Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Veo3 Processing (5 mins)": {
      "main": [
        [
          {
            "node": "Retrieve Final Video URL from Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Final Video URL from Veo3": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Final Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Run Daily Script Generator": {
      "main": [
        [
          {
            "node": "Google Gemini: Generate Video Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Log Final Video Output": {
      "main": [
        [
          {
            "node": "Get my video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini: Generate Video Concept": {
      "main": [
        [
          {
            "node": "Parse AI-Generated JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini: Create Veo3-Compatible Prompt": {
      "main": [
        [
          {
            "node": "Call Veo3 API to Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI-Generated JSON": {
      "main": [
        [
          {
            "node": "Google Sheets: Save Script Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "6b7c8d9e-a1b2-4c3d-8e9f-0a1b2c3d4e5f",
  "meta": {
    "templateId": null,
    "instanceId": "83c86b0c7111285d8e8667d2a717e50d594d6956f422e458ec84d0d4b7f345f1"
  },
  "id": "STkSRBN0o045Ng6p",
  "tags": []
}